div{
    border: 1px solid black;
}
#main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "pajtonBLYAT cepe siszarp"
                         "java hcj sth";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
img{
    width: 30%;
}
#pajtonBLYAT{
    grid-area: pajtonBLYAT;
}
#cepe{
    grid-area: cepe;
}
#siszarp{
    grid-area: siszarp;
}
#java{
    grid-area: java;
}
#hcj{
    grid-area: hcj;
}
#smth{
    grid-area: sth;
}