html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    background-color: #d0d0d0;
}

div {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#main {
    margin: auto;

    width: 80%;
    height: 80%;
    display: grid;
    grid-template-areas: "pajtonBLYAT cepe siszarp"
        "java hcj sth"
        "button button button";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
    font-family: Koulen-Regular, serif;
}

img {
    width: 30%;
}

#button {
    grid-area: button;
    text-align: center;
    cursor: pointer;
    background-color: white;
    font-size: 2rem;
    border-radius: 20px;
}

#button:hover {
    background-color: gray;
}

#pajtonBLYAT {
    grid-area: pajtonBLYAT;
    text-align: center;
    cursor: pointer;
    background-color: white;
}

#pajtonBLYAT:hover {
    background-color: gray;
}

#cepe {
    grid-area: cepe;
    text-align: center;
}

#siszarp {
    grid-area: siszarp;
    text-align: center;
}

#java {
    grid-area: java;
    text-align: center;
}

#hcj {
    grid-area: hcj;
    text-align: center;

}

#smth {
    grid-area: sth;
    text-align: center;
}

#pajtonBLYAT,
#cepe,
#siszarp,
#java,
#hcj,
#smth {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    /*width: fit-content;*/
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}