body{
    margin: 0;
    padding: 0;
}

#home-page {
    width: 100%;
    height: 100%;
    font-family: Koulen-Regular, serif;
    background: #d0d0d0;
    position: fixed;
}

#content{
    width: 99%;
    height: 98%;
    display: grid;
    grid-template-areas: "a1 a4 a4"
                        "a2 a4 a4"
                        "a3 a5 a6";

    grid-template-columns: 60% 20% 20%;
    grid-template-rows: 20% 65% 15%;
    padding: 0.5%;
}

img{
    height: 100%;
}

div{
    border: 1px solid black;
}

#a1{
    grid-area: a1;
}
#a2{
    grid-area: a2;
}
#a3{
    grid-area: a3;
    background-color: white;
    margin-top: 2.3%;
    margin-bottom: 2.2%;
    border-radius: 10px;
    width: 30%;
}
#a4{
    grid-area: a4;
    background-color: white;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 2.5%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.text{
    font-size: 2.5rem;
}
#a5{
    grid-area: a5;
    background-color: white;
    margin-bottom: 7%;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 5%;
    border-radius: 10px;
}
#a6{
    grid-area: a6;
    margin-bottom: 7%;
    margin-left: 10%;
    margin-top: 7%;
    margin-right: 5%;
    border-radius: 10px;
    background-color: white;
}

#a3, #a5, #a6{
    cursor: pointer;
}

