html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#home-page {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    font-family: Koulen-Regular, serif;
    background: #d0d0d0;
}

#content{
    padding: 1%;
    font-size: 3rem;

    display: grid;
    grid-template-areas: 'a1 a1'
                        'a2 a3'
                        'a4 a4';
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr 7fr 2fr;
}
p{
    margin: 0;
    padding: 0;
}
#logo{
    grid-area: a1;
}
#logo img {
    width: 50%;
}

#a2{
    grid-area: a2;
}

.left-text {
    margin: 0;
    padding: 0;
}

#a3{
    grid-area: a3;
}
#a4{
    grid-area: a4;
}

.left-text, .right-text {
    text-shadow: 0 7px 4px rgba(0, 0, 0, 0.35), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.right-text{
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 15%;
    padding: 5%;
}




.buttons{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
} */

/* .left-button {
    margin: 5% 0 0 0;
    background: #ffffff;
    border-radius: 1rem;
    border: 0;
    height: 5rem;
    width: 20%;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.45);
    text-align: center;
    font-family: "Koulen-Regular", sans-serif;
    font-size: 2rem;
    font-weight: 400;

} */
.button-creator {
    color: #000000;
    text-align: left;
    font-family: "Koulen-Regular", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    position: relative;
}
/*.right-pane {
    float: right;
    width: 40%;
    margin-top: 5%;


}

.right-pane-content {

    background-color: white;
    border-radius: 15px;
    font-size: 2.5rem;
    text-align: left;
    height: fit-content;
    width: fit-content;
    padding: 5% 15%;
}*/
 */
